<aside>
    <h3>Reports</h3>
    <ul>
        <li>@Html.ActionLink("All active errors", "AllActiveErrors", "Reports")</li>
        <li>@Html.ActionLink("All active errors for project", "AllActiveErrorsForProject", "Reports")</li>
        <li>@Html.ActionLink("Users activity", "UsersActivity", "Reports")</li>
    </ul>
</aside>