@model IEnumerable<SelectListItem>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>
    @{Html.Kendo().DropDownList()
        .Name("projects")
        .DataTextField("Text")
        .DataValueField("Value")
        .Events(ev => ev.Change("refresh_grid"))
        .BindTo(Model)
        .Render();
    }
</p>
<div>
    @{
        Html.Kendo().Grid<BugTracker.Models.ErrorModel>()
            .Name("grid")
            .Resizable(res => res.Columns(true))
            .ToolBar(toolbar =>
                {
                    toolbar.Custom().Action("Create", "Errors", null).HtmlAttributes(new { id = "create-link" }).Text("Create new error");
                })
            .Columns(column =>
                {
                    column.Bound(error => error.UserName).Title("Owner");
                    column.Bound(error => error.Priority).Title("Priority");
                    column.Bound(error => error.DateCreation).Title("Date found");
                    column.Command(command =>
                        {
                            command.Custom("Details").Click("details");
                            command.Custom("Edit").Click("edit");
                            command.Destroy();
                        });
                }
            )
            .Sortable()
            .Pageable()
            .DataSource(datasource => datasource
                .Ajax()
                .Model(model => model.Id("Id"))
                .Read(read => read.Action("Errors", "Errors").Data("drop_down_value"))
                .Destroy(destroy => destroy.Action("Delete", "Errors", new { id = "#=Id#" }))
                .PageSize(20)
            ).Render();        
    }
</div>
<script type="text/javascript">
    $(document).ready(function () {
        $("#create-link").click(function () {
            var value = $("#projects").val();
            this.href = this.href + '/' + value;
        });
    });

    function drop_down_value() {
        var value = $("#projects").val();
        return { projectId: value };
    }

    function refresh_grid() {        
        var grid = $("#grid").data("kendoGrid");
        grid.dataSource.read();
        grid.refresh();
    }

    function edit(e) {
        e.preventDefault();
        var grid = $('#grid').data("kendoGrid");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        var actionUrl = '@Url.Action("Edit", "Errors", new { id = "placeholder" })';
        window.location.href = (actionUrl.replace("placeholder", dataItem.Id));
    }

    function details(e) {
        e.preventDefault();
        var grid = $('#grid').data("kendoGrid");
        var dataItem = this.dataItem($(e.currentTarget).closest("tr"));

        var actionUrl = '@Url.Action("Details", "Errors", new { id = "placeholder" })';
        window.location.href = (actionUrl.replace("placeholder", dataItem.Id));
    }
</script>
